/*************** Reset +  generel*********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand-brown: #261e1e;
  --brand-text1: #d9d9d9;
  --brand-text2: #aaaaaa;
  --brand-accent: #71bdaa;
  --brand-bg1: ;
  interpolate-size: allow-keywords;
}

::selection {
  background-color: var(--brand-accent);
  color: var(--brand-brown);
}

body {
  background-color: #261e1e;
  font-family: Rubik, sans-serif;
}
.sculpt {
  color: #71bdaa;
  text-align: center;
  font-family: Fascinate;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 144px */
  letter-spacing: -1px;
}

.sculpt2 {
  color: #71bdaa;
  text-align: center;
  font-family: Fascinate;
  font-size: 3rem;
  font-style: normal;
  font-weight: 900;
  line-height: 150%; /* 144px */
  letter-spacing: -1.15px;
}
.headlines {
  text-align: center;
  font-family: Rubik;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 60px */
  letter-spacing: -0.92px;
  color: #d9d9d9;
  padding-top: 40px;
  padding-bottom: 10px;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

/* header starter her */

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 5px 0;
  background-color: #261e1e;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

nav {
  font-family: Rubik;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 37.5px */
  letter-spacing: -0.575px;
}

.logo {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.logo svg {
  width: 70px;
  height: 70px;
}

ul img {
  width: 16px;
  height: 16px;
}

ul {
  list-style: none;
}

.grid-menu {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  position: relative;
}

.menu a {
  color: #d9d9d9;
  text-decoration: none;
  gap: 20px;
}

.iconmenu {
  display: flex;
  gap: 25px;
  align-content: right;
}

.iconmenu img {
  height: 20px;
  width: 20px;
}

/* footer starter her */
footer {
  margin-top: 50px;
}
footer svg {
  width: 120px;
  height: 120px;
}

.footerstyle {
  display: flex;
  justify-content: space-between;
  background-color: #d9d9d9;
  color: #261e1e;
  padding: 40px;
  margin: 20px #d9d9d9;
  font-family: Rubik, sans-serif;
  letter-spacing: -0.575px;
  font-size: 0.6rem;
}

.openinghours {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

/* 
hero starter her */

.hero-container {
  position: relative;
  width: 100%;
  height: auto;
}
.hero-1 {
  width: 100%;
  height: 600px;
  display: block;
  object-fit: cover;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.herotext h2 {
  padding: 0;
}

.category {
  position: relative;
}

.cta2 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100px;
  height: 50px;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  border: 1px solid #d9d9d93e;
}

.cta2 a {
  color: #261e1e;
}
.cta2 a:visited {
  color: #261e1e;
}

@media (width>800px) {
  .cta2 {
    width: 150px;
    height: 70px;
  }

  .cta2 {
    font-size: 1.4;
  }
  .hero-1 {
    width: 100%;
    height: 660px;
    object-fit: cover;
  }
}

@media (width<800px) {
  .hero-1 {
    width: 100%;
    height: 450px;
  }
}

.cta3 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 125px;
  height: 50px;
  border: 1px solid #aaaaaa;
  margin-top: 5px;
}

.cta3 a {
  text-decoration: none;
  color: #d9d9d9;
}

.herotext {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
}

.cta {
  display: flex;
  border-radius: 8px;
  background: rgba(113, 189, 170, 0.42);
  backdrop-filter: blur(15.5px);
  text-align: center;
  font-family: Rubik;
  font-size: 1rem;
  font-style: normal;
  font-weight: 470;
  line-height: 150%; /* 60px */
  letter-spacing: -0.6px;
  color: #261e1e;
  transition: background-color 200ms linear;
}

.cta:hover {
  background: rgba(217, 217, 217, 0.17);
}
.cta1 {
  width: 160px;
  height: 60px;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  border: 1px solid #d9d9d93e;

  position: absolute;
  top: 85%;
  left: 25%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
}

.cta a {
  text-decoration: none;
}

.cta1 a:visited {
  color: #261e1e;
}

@media (min-width: 800px) {
  .cta1 {
    width: 220px;
    height: 75px;
    padding: 30px;
    font-size: 1.2rem;
    top: 85%;
    left: 12%;
  }
}

dl {
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
dt {
  float: left;
  width: 50%;
  padding: 0;
  margin: 0;
}
dd {
  float: left;
  width: 50%;
  padding: 0;
  margin: 0;
}

h3 {
  font-weight: 500;
  line-height: 150%; /* 37.5px */
  letter-spacing: -0.575px;
}

/* grids starter her */

.grid-categories {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.grid1-1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top: 8px;
}

.grid-1 {
  margin-bottom: 40px;
  margin-top: 10px;
}
.grid-1 img {
  border-radius: 5px;
  transition: transform 50ms linear;
  transform: scale(1);
}

.grid-2 img {
  border-radius: 5px;
  border-radius: 5px;
  transition: transform 120ms linear;
  transform: scale(1);
  height: 250px;
  object-fit: cover;
}

.grid-1 img:hover {
  transform: scale(0.95);
}

.grid-2 img:hover {
  transform: scale(0.95);
}

.producttext1 h3 {
  color: #d9d9d9;
  font-weight: 350;
  font-size: 1rem;
}

.producttext1 p {
  font-family: Rubik, sans-serif;
  color: #aaaaaa;
  font-weight: 200;
  font-size: 0.8rem;
  margin-top: 5px;
}

.producttext1-1 {
  font-family: Rubik, sans-serif;
  color: #d9d9d9;
  font-weight: 200;
  font-size: 0.8rem;
  display: flex;
  justify-content: flex-end;
}

.grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  gap: 30px;
  font-family: Rubik, sans-serif;
  color: #d9d9d9;
  font-weight: 200;
  font-size: 1rem;
  text-align: left;
}

.info-h2 {
  text-align: left;
  font-size: 1.2rem;
}

p {
  line-height: 120%; /* 45px */
  letter-spacing: -0.5px;
  padding: 0;
  color: #aaaaaa;
  max-width: 60ch;
}

.grid-4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  gap: 30px;
  color: #d9d9d9;
  font-weight: 200;
  font-size: 0.8rem;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 50px;
}

.grid-3 img {
  border-radius: 5px;
  object-fit: cover;
}

.grid-4 img {
  border-radius: 5px;
}

.grid-4 {
  color: #aaaaaa;
}

.sum-color {
  color: #d9d9d9;
}

.summaries1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.headlines-care {
  text-align: center;
  font-family: Rubik;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 60px */
  letter-spacing: -0.92px;
  color: #d9d9d9;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.text-1 p + p {
  margin-top: 1rem;
}

details {
  background: rgba(113, 189, 170, 0.17);
  padding: 0.5rem 1rem;
  margin: 0 10px 10px 10px;
  border: 0.1px solid #aaaaaa;
  overflow: hidden;
  border-radius: 5px;
}

details > p {
  padding-block: 1rem;
}

details::details-content {
  font-size: 0.9rem;
  block-size: 0;
  transition: block-size 0.5s, content-visibility 0.5s;
  transition-behavior: allow-discrete;
}

details[open]::details-content {
  block-size: auto;
}

.collection-banner {
  height: 400px;
  object-fit: cover;
  /* object-position: left bottom; */
}

.collection-text1 {
  font-size: 3rem;
  align-content: center;
}
.collection-text2 {
  max-width: 40ch;
  text-align: left;
  justify-self: center;
}

.grid-about2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 40px;
  gap: 20px;
}

.grid-about2 img {
  max-height: 500px;
  max-width: 800px;
  object-fit: cover;
  border-radius: 5px;
  align-content: center;
  margin-bottom: 30px;
}

.address {
  display: block;
  color: #d9d9d9;
  font-weight: 300;
  line-height: 150%;
}

p + p {
  margin-top: 1rem;
}

.first-image {
  border-radius: 5px 5px 0 0;
}

.last-image {
  border-radius: 0 0 5px 5px;
}

.text-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 300;
  letter-spacing: 150%;
  max-width: 60ch;
  padding: 0 20px 10px;
}

.text-about p {
  color: #aaaaaa;
}

.center-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px 0;
}

.text-about2 {
  padding-left: 10px;
  font-size: 1.2rem;
  font-weight: 300;
}

.grid-about1 {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: row;
  padding: 10px 30px 0;
  gap: 30px;
}

.image-about img {
  max-height: 500px;
  max-width: 800px;
  object-fit: cover;
  border-radius: 5px;
  align-content: center;
}

.grid-2-1 img {
  border-radius: 5px;
}

hr {
  border-color: #aaaaaa44;
  margin: 60px 0 30px 0;
}

.about-headline1 {
  color: #d9d9d9;
  text-transform: uppercase;
  padding-bottom: 5px;
  font-weight: 400;
}
.about-headline2 {
  color: #d9d9d9;
  text-transform: uppercase;
  padding: 25px 0 5px 0;
  font-weight: 400;
}

/* product view */

.side-by-side {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 10px 0 20px 0;
}

.side-by-side h1 {
  font-family: Rubik, sans-serif;
  font-weight: 400;
  color: #d9d9d9;
  font-size: 1.1rem;
}

.big-product-text p {
  font-weight: 300;
}

.big-product-text {
  padding: 0 10px;
}
.pick-photo img {
  width: 70px;
  height: 90px;
  object-fit: cover;
}

.pick-photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.big-product img {
  display: flex;
  justify-items: center;
  height: 390px;
  aspect-ratio: 3/2;
  object-fit: cover;
  margin-left: 10px;
}

.big-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.side-by-side img {
  height: 25px;
  width: 25px;
}

.pricetag {
  font-size: 1.1rem;
  margin-top: 20px;
}

@media (width>800px) {
  .grid-productview {
    display: grid;
    grid-template-columns: 0.5fr 3fr 3fr;
    margin: 20px 20px 20px;
  }
  .side-by-side {
    margin-right: 20px;
    gap: 40px;
  }

  .side-by-side h1 {
    margin-left: 50px;
  }

  .pick-photo img {
    width: 90px;
    height: 120px;
    object-fit: cover;
  }

  .big-product-text {
    padding-top: 70px;
  }
  .big-product-text p {
    max-width: 60ch;
    font-weight: 300;
    margin-left: 50px;
    margin-right: 20px;
  }

  .big-product img {
    height: 510px;
  }
}

/* --  burger menu starter her --- */

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  margin-top: 0.4rem;
}

@media screen and (max-width: 800px) {
  .menu {
    display: none;
    padding: 15px;
    position: absolute;
    background-color: var(--brand-text1);
    width: 100%;
    left: 0;
    top: 58px;
    padding: 10px 50px 40px 50px;
  }

  /* .submenus {
    padding-left: 15px;
  } */

  .submenu ul {
    margin-left: 0px;
    padding-bottom: 20px;
  }

  .submenu-heading {
    padding-left: 0;
    font-weight: 600;
  }

  .submenu li {
    padding-left: 2px;
  }

  .menu a {
    color: var(--brand-brown);
    padding-bottom: 2px;
  }

  .menu.active {
    display: block;
  }

  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }
}

@media screen and (min-width: 801px) {
  .burger {
    display: none;
  }
  .submenus {
    position: absolute;
    background-color: var(--brand-text1);
    color: var(--brand-brown);
    display: none;
    width: 100vw;
    left: 0;
    top: 89px;
    column-gap: 50px;
    padding: 50px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  }

  .submenus.active {
    display: flex;
  }

  .submenu-heading {
    font-size: 1.2rem;
    margin-bottom: 15px;
  }

  .submenu {
    width: 200px;
  }

  .submenu a {
    color: var(--brand-brown);
  }
}

.burger .line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--brand-text1);
  margin-bottom: 5px;
  transition: 0.2s linear;
}

.submenu-button {
  background-color: transparent;
  border: none;
  font-family: Rubik, sans-serif;
  color: #d9d9d9;
  font-size: 1rem;
}

.submenu-button:hover {
  cursor: pointer;
}

.sorry h1 {
  display: flex;
  justify-self: center;
  color: #d9d9d9;
}

.sorry {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 70px 70px 370px 70px;
}

.sorry a {
  color: #71bdaa;
}
