/*************** Reset +  generel*********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand-brown: #261e1e;
  --brand-text1: #d9d9d9;
  --brand-text2: #aaaaaa;
  --brand-accent: #71bdaa;
  --brand-bg1: ;
  interpolate-size: allow-keywords;
}

::selection {
  background-color: var(--brand-accent);
  color: var(--brand-brown);
}

body {
  background-color: #261e1e;
  font-family: Rubik, sans-serif;
}
h1 {
  color: #71bdaa;
  text-align: center;
  font-family: Fascinate;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 900;
  line-height: 150%; /* 144px */
  letter-spacing: -2.208px;
}
.headlines {
  text-align: center;
  font-family: Rubik;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 60px */
  letter-spacing: -0.92px;
  color: #d9d9d9;
  padding-top: 40px;
  padding-bottom: 10px;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

/* header starter her */

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 5px;
  background-color: #261e1e;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

nav {
  font-family: Rubik;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 37.5px */
  letter-spacing: -0.575px;
}
.logo {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.logo svg {
  width: 70px;
  height: 70px;
}

ul img {
  width: 16px;
  height: 16px;
}

ul {
  list-style: none;
}

.grid-menu {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: relative;
}

.menu a {
  color: #d9d9d9;
  text-decoration: none;
  gap: 20px;
}

.menu a:visited {
  color: #d9d9d9;
}

.iconmenu {
  display: flex;
  gap: 25px;
  align-content: right;
}

.iconmenu img {
  height: 20px;
  width: 20px;
}

/* footer starter her */

footer svg {
  width: 120px;
  height: 120px;
}

.footerstyle {
  display: flex;
  justify-content: space-between;
  background-color: #d9d9d9;
  color: #261e1e;
  padding: 40px;
  margin: 20px #d9d9d9;
  font-family: Rubik, sans-serif;
  letter-spacing: -0.575px;
  font-size: 0.7rem;
}

.openinghours {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

/* 
.hours {
  display: flex;
  flex-direction: column;
  
} */

/* 
hero starter her */

.hero-container {
  position: relative;
  width: 100%;
  height: auto;
}
.hero-1 {
  width: 100%;
  height: 600px;
  display: block;
  object-fit: cover;
}

.herotext h2 {
  padding: 0;
}

.category {
  position: relative;
}

.cta2 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100px;
  height: 50px;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  border: 1px solid var(--Brown, #261e1e);
}

.cta2 a {
  color: #261e1e;
}
.cta2 a:visited {
  color: #261e1e;
}

@media (width>800px) {
  .cta2 {
    width: 150px;
    height: 70px;
  }

  .cta2 a {
    font-size: 1.2rem;
  }
}

@media (width<800px) {
  .hero-1 {
    width: 100%;
    height: 450px;
  }
}

.herotext {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
}

.cta {
  display: flex;
  border-radius: 8px;
  background: rgba(113, 189, 170, 0.17);
  backdrop-filter: blur(15.5px);
  text-align: center;
  font-family: Rubik;
  font-size: 1rem;
  font-style: normal;
  font-weight: 450;
  line-height: 150%; /* 60px */
  letter-spacing: -0.92px;
  color: #261e1e;
  transition: background-color 200ms linear;
}

.cta:hover {
  background: rgba(217, 217, 217, 0.17);
}
.cta1 {
  width: 160px;
  height: 60px;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  border: 1px solid var(--Brown, #261e1e);

  position: absolute;
  top: 85%;
  left: 25%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
}

.cta a {
  text-decoration: none;
}

.cta1 a:visited {
  color: #261e1e;
}

@media (min-width: 800px) {
  .cta1 {
    width: 220px;
    height: 75px;
    padding: 30px;
    font-size: 1.2rem;
    top: 85%;
    left: 12%;
  }
}

dl {
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
dt {
  float: left;
  width: 50%;
  padding: 0;
  margin: 0;
}
dd {
  float: left;
  width: 50%;
  padding: 0;
  margin: 0;
}

h3 {
  font-weight: 500;
  line-height: 150%; /* 37.5px */
  letter-spacing: -0.575px;
}

/* grids starter her */

.grid-categories {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 40px 0 0 0;
}

.grid1-1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top: 8px;
}

.grid-1 {
  margin-bottom: 40px;
  margin-top: 10px;
}
.grid-1 img {
  border-radius: 5px;
}

.grid-2 img {
  border-radius: 5px;
}

.producttext1 h3 {
  color: #d9d9d9;
  font-weight: 350;
  font-size: 1rem;
}

.producttext1 p {
  font-family: Rubik, sans-serif;
  color: #aaaaaa;
  font-weight: 200;
  font-size: 0.8rem;
  margin-top: 5px;
}

.producttext1-1 {
  font-family: Rubik, sans-serif;
  color: #d9d9d9;
  font-weight: 200;
  font-size: 0.8rem;
  display: flex;
  justify-content: flex-end;
}

.grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  gap: 30px;
  font-family: Rubik, sans-serif;
  color: #d9d9d9;
  font-weight: 200;
  font-size: 1rem;
  text-align: left;
}

.info-h2 {
  text-align: left;
  font-size: 1.2rem;
}

p {
  line-height: 120%; /* 45px */
  letter-spacing: -0.5px;
  padding: 0;
  color: #aaaaaa;
  max-width: 60ch;
}

.grid-4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  gap: 30px;
  color: #d9d9d9;
  font-weight: 200;
  font-size: 1rem;
  text-align: left;
}

.grid-3 img {
  border-radius: 5px;
  object-fit: cover;
}

.grid-4 img {
  border-radius: 5px;
}

.grid-4 {
  color: #aaaaaa;
}

.sum-color {
  color: #d9d9d9;
}

.summaries {
  display: flex;
}

.headlines-care {
  text-align: left;
  font-family: Rubik;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 60px */
  letter-spacing: -0.92px;
  color: #d9d9d9;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.text-1 p + p {
  margin-top: 1rem;
}

details {
  background: rgba(113, 189, 170, 0.17);
  padding: 0.5rem 1rem;
  margin: 0 10px 10px 10px;
  border: 0.1px solid #aaaaaa;
  overflow: hidden;
  border-radius: 5px;
}

details > p {
  padding-block: 1rem;
}

details::details-content {
  font-size: 0.9rem;
  block-size: 0;
  transition: block-size 0.5s, content-visibility 0.5s;
  transition-behavior: allow-discrete;
}

details[open]::details-content {
  block-size: auto;
}

.collection-banner {
  height: 400px;
  object-fit: cover;
  /* object-position: left bottom; */
}

.collection-text1 {
  font-size: 3rem;
  align-content: center;
}
.collection-text2 {
  max-width: 40ch;
  text-align: left;
  justify-self: center;
}

.grid-about2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 40px;
  gap: 20px;
}

.grid-about2 img {
  max-height: 500px;
  max-width: 800px;
  object-fit: cover;
  border-radius: 5px;
  align-content: center;
}

.address {
  display: block;

  color: #d9d9d9;
  font-weight: 300;
  line-height: 150%;
}

p + p {
  margin-top: 1rem;
}

.first-image {
  border-radius: 5px 5px 0 0;
}

.last-image {
  border-radius: 0 0 5px 5px;
}

.text-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 300;
  letter-spacing: 150%;
  max-width: 60ch;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px 0;
}

.text-about2 {
  padding-left: 10px;
}

.grid-about1 {
  display: grid;
  grid-template-columns: row;
  padding: 10px 50px;
  gap: 30px;
}

.image-about img {
  max-height: 500px;
  max-width: 800px;
  object-fit: cover;
  border-radius: 5px;
  align-content: center;
}

.grid-2-1 img {
  border-radius: 5px;
}
