@media (width<=800px) {
  .logo2 {
    display: none;
  }
  .grid-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px 30px 20px 30px;
    gap: 30px;
  }

  /* .grid-2 {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); */
  /* grid-template-columns: 1fr 1fr;

    grid-template-rows: 1fr 1fr;
    padding: 20px 30px 20px 30px;
    gap: 30px;
    background-color: red; */
  /* } */

  .grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 20px 30px 20px 30px;
    gap: 30px;
  }

  .fall-out {
    display: none;
  }

  .grid1-1-1 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 30px 20px 40px 20px;
    gap: 20px;
  }
  .collection-text2 {
    padding: 0 0 0 40px;
  }

  .about-images img {
    height: 200px;
    object-fit: cover;
  }

  .grid-2-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 20px 30px 20px 30px;
    gap: 40px;
  }

  .big-card {
    display: grid;
    grid-column: span 2;
    margin-top: 15px;
  }
}

@media (width>800px) {
  body {
    max-width: 1600px;
    margin: 0 auto;
  }

  .menu {
    display: flex;

    align-content: left;
    padding: 10px;
    color: #d9d9d9;

    gap: 40px; /* Adjust to desired spacing */
    list-style: none;
    padding: 10px;
    margin: 10px;
  }

  .iconmenu {
    padding: 10px;
    margin: 10px;
    gap: 40px;
  }

  .logo3 {
    display: none;
  }

  .logo2 {
    padding: 40px;
  }

  .newsletter {
    padding: 40px;
  }
  .openinghours {
    padding: 40px;
  }
  .hours {
    padding: 40px;
  }

  .grid-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 50px 40px 0 40px;
    gap: 70px;
  }

  #sculpt {
    font-size: 5rem;
  }

  .grid-1 img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 6 / 7;
  }

  .grid1-1 {
    padding: 0 5px;
  }

  .grid-2 img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 6 / 7;
  }

  .grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 50px 40px 80px;
    gap: 60px 70px;
    /* max-width: 1200px;
    margin: 0 auto; */
  }

  .text-1 {
    padding: 60px;
  }

  .grid1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 60px 20px 50px 20px;
    gap: 10px;
  }

  .careimage-tall {
    max-height: 500px;
    object-fit: cover;
  }

  .careimage-short {
    max-height: 700px;
    object-fit: cover;
  }
  .grid-about1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px;
    gap: 20px;
  }

  .about-images img {
    height: 300px;
    object-fit: cover;
  }

  .grid-2-1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 40px 50px 40px 50px;
    gap: 30px;
    /* max-width: 1200px;
    margin: 0 auto; */
  }

  .big-card {
    display: grid;
    grid-row: span 2;
  }
}
