@media (width<=500px) {
  .producttext1 h3 {
    font-size: 0.9rem;
  }

  .producttext1 p {
    font-size: 0.67rem;
  }

  .producttext1-1 {
    font-size: 0.7rem;
  }

  .address {
    font-size: 0.8rem;
    line-height: 25px;
  }

  .text-about2 {
    font-size: 0.8rem;
    padding: 0;
  }
}

@media (width<=800px) {
  .logo2 {
    display: none;
  }
  .grid-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px 30px 20px 30px;
    gap: 30px;
  }

  /* .grid-2 {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); */
  /* grid-template-columns: 1fr 1fr;

    grid-template-rows: 1fr 1fr;
    padding: 20px 30px 20px 30px;
    gap: 30px;
    background-color: red; */
  /* } */

  .grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 20px 30px 20px 30px;
    gap: 30px;
  }

  .fall-out {
    display: none;
  }

  .grid1-1-1 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 30px 20px 40px 20px;
    gap: 20px;
  }
  .collection-text2 {
    padding: 0 0 0 40px;
  }

  .about-images img {
    height: 200px;
    object-fit: cover;
  }

  .grid-2-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 20px 30px 20px 30px;
    gap: 40px;
  }

  .big-card {
    display: grid;
    grid-column: span 2;
    margin-top: 15px;
  }

  /* burger */

  .grid-productview {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 2.5fr 2fr;
    padding: 0 30px 0 20px;
  }
  .big-product-text {
    grid-column: span 2 / -3;
  }

  .herotext svg {
    width: 350px;
    height: 650px;
  }
}

@media (width>750px) {
  .logo3 {
    height: 170px;
    width: 170px;
  }
}

@media (width>800px) {
  body {
    max-width: 1600px;
    margin: 0 auto;
  }

  .menu {
    display: flex;

    align-content: left;
    padding: 10px;
    color: #d9d9d9;

    gap: 40px; /* Adjust to desired spacing */
    list-style: none;
    padding: 10px;
    margin: 10px;
  }

  .iconmenu {
    padding: 10px;
    margin: 10px;
    gap: 40px;
  }

  .logo3 {
    display: none;
  }

  .logo2 {
    padding: 40px;
  }

  .newsletter {
    padding: 40px;
  }
  .openinghours {
    padding: 40px;
  }
  .hours {
    padding: 40px;
  }

  .grid-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 50px 40px 0 40px;
    gap: 70px;
    max-width: 1300px;
    margin: 0 auto;
  }

  .grid-categories {
    padding: 50px 0 0 0;
  }
  #sculpt {
    font-size: 5rem;
  }

  .grid-1 img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 6 / 7;
  }

  .grid1-1 {
    padding: 0 5px;
  }

  .grid-2 img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 6 / 7;
  }

  .grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 50px 40px 80px;
    gap: 60px 70px;
    max-width: 1300px;
    margin: 0 auto;
  }

  .category img {
    max-height: 400px;
    object-fit: cover;
  }

  .text-1 {
    padding: 60px;
  }

  .grid1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 60px 20px 50px 20px;
    gap: 10px;
  }

  .careimage-tall {
    max-height: 500px;
    object-fit: cover;
  }

  .careimage-short {
    max-height: 700px;
    object-fit: cover;
  }
  .grid-about1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px 50px 30px 50px;
    gap: 20px;
  }

  .about-images img {
    height: 300px;
    object-fit: cover;
  }

  .grid-2-1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 40px 50px 40px 50px;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
  }

  .big-card {
    display: grid;
    grid-row: span 2;
  }
  .sculpt-1 {
    padding-bottom: 60px;
  }

  .grid-about1 {
    max-width: 1300px;
    margin: 0 auto;
  }

  .grid-about2 {
    max-width: 1300px;
    margin: 0 auto;
  }

  .grid-3 {
    max-width: 1300px;
    margin: 0 auto;
  }

  .grid-4 {
    max-width: 1300px;
    margin: 0 auto;
  }

  .sum-color {
    font-size: 1.2rem;
  }

  .address {
    font-size: 1.2rem;
    line-height: 35px;
  }

  .center-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 60px 0;
  }

  .footerstyle {
    font-size: 0.85rem;
  }

  .sculpt {
    font-size: 3.5rem;
  }
}
